<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.5.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.5.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.Unity.Analyzers" version="1.16.0" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="StyleCop" version="6.2.0" />
  <package id="StyleCop.Analyzers" version="1.1.118" />
  <package id="StyleCop.MSBuild" version="6.2.0" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Numerics.Vectors" version="4.5.0" />
  <package id="System.Reflection.Metadata" version="6.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
</packages>